* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
}

.wrapper {
  width: 1150px;
  margin: 0 auto;
  background-color: #181818;
  height: 3480px;
  overflow: hidden;
}

.header {
  width: 1150px;
  height: 800px;
  position: relative;
  background-color: #333333;
}

.imgbg {
  width: 1150px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.header__columns {
  width: 900px;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__left {
  position: relative;
}

.header__right {
  position: relative;
}

.header__title {
  margin-bottom: 15px;
  font-weight: 900;
  width: 530px;
  font-size: 20px;
  color: #01a9ff;
}

.header__text {
  margin-bottom: 30px;
  width: 500px;
  height: 56px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

.default__btn {
  width: 215px;
  height: 46px;
  background-color: #01a9ff;
  border: none;
  z-index: 55;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  display: block;
}

.logo {
  margin-top: 90px;
  margin-bottom: 50px;
}

/*serv*/
.services__menu {
  width: 900px;
  position: relative;
  padding: 0 80px;
}

.services__items {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item-logo {
  z-index: 2;
}

.services__item-text {
  width: 273px;
  height: 54px;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  margin-top: 18px;
  margin-bottom: 60px;
}

/*sales*/
.sales__container {
  background-color: #333333;
  padding: 0 80px;
}

.sales__title {
  padding-top: 130px;
  font-size: 20px;
  line-height: 21px;
  color: #d2d2d2;
  font-weight: 700;
}

.sales__container-top {
  width: 900px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0;
}

.sales__container-bottom {
  width: 900px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*test*/
.test {
  background-color: #333333;
  position: relative;
}

.test__container {
  padding: 0 80px;
  position: absolute;
}

/*test-revievs*/
.revievs__title {
  font-size: 20px;
  line-height: 21px;
  color: #d2d2d2;
  font-weight: 700;
  margin: 50px 0;
}

.revievs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__item1 {
  width: 440px;
  height: 109px;
  background-color: #585858;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  padding: 15px 55px 40px 27px;
}

.container__item2 {
  width: 440px;
  height: 151px;
  background-color: #606060;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  padding: 25px 30px 30px 27px;
  margin-top: 12px;
}

.revievs__container-right {
  width: 440px;
  height: 275px;
  background-color: #606060;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  padding: 22px 25px 30px 22px;
  margin-left: 15px;
}

.reviev__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 45px;
  z-index: 222;
}

/*form*/
.form-popup {
  display: none;
  width: 100%;
}

.form-container {
  max-width: 100%;
  height: 100px;
  text-align: center;
}

/*work*/
.work {
  position: relative;
}

.work__title {
  padding-left: 80px;
  font-size: 20px;
  line-height: 21px;
  color: #d2d2d2;
  font-weight: 700;
}

.work__columns {
  padding-left: 80px;
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__columns-left,
.work__columns-right {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item {
  position: relative;
  width: 225px;
  height: 37px;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item-title {
  position: absolute;
  font-size: 25px;
  line-height: 21px;
  color: #01a9ff;
  font-weight: 900;
}

.work__item-text {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  margin-top: 40px;
}

.work__text {
  position: relative;
  text-align: center;
  width: 450px;
  font-size: 13px;
  line-height: 21px;
  padding: 8px 0;
  background-color: #585858;
  margin: 200px 242px;
  color: #e8e7e7;
}

/*discount*/
.discount__columns {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discount__left {
  width: 380px;
}

.discount__right {
  padding-left: 50px;
  width: 520px;
  -webkit-transform: translate(0, -100px);
          transform: translate(0, -100px);
}

.discount__btn {
  position: relative;
}

.pict2 {
  -webkit-transform: translate(-380px, -250px);
          transform: translate(-380px, -250px);
}

.discount__title {
  padding-top: 70px;
  width: 548px;
  font-size: 20px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 25px;
}

.discount__info {
  padding-top: 20px;
  font-size: 13px;
  line-height: 21px;
  color: #b9b9b9;
  font-weight: 400;
}

/*form*/
.form-container {
  position: absolute;
  max-width: 100%;
  height: 300px;
  padding: 25px;
  text-align: center;
  -webkit-transform: translate(700px, -480px);
          transform: translate(700px, -480px);
  background-color: #333333;
}

.form {
  display: inline-block;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
  position: relative;
}

.form__field {
  margin-bottom: 10px;
}

.form__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}

.form input {
  outline: none;
  display: block;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}

input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}

/*about*/
.about__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333333;
  padding-left: 80px;
}

.about__title {
  padding-top: 70px;
  font-size: 20px;
  line-height: 21px;
  color: #d2d2d2;
  font-weight: 700;
  padding-bottom: 55px;
}

.about__text {
  width: 431px;
  height: 204px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  padding-left: 20px;
}

/*footer*/
.footer__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #222222;
  padding-left: 80px;
  width: 1150px;
}

a {
  text-decoration: none;
  font-size: 13px;
  line-height: 25px;
  color: #d2d2d2;
}

.footer__contacts {
  padding-top: 20px;
  width: 50%;
}
